.navbar-custom header {
    max-width: 100% !important;
}

/* Đặt kiểu cho bảng Markdown */
.markdown-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
}

/* Kiểu cho các ô của bảng */
.markdown-table th,
.markdown-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Kiểu cho tiêu đề của bảng */
.markdown-table th {
    background-color: #3d3d3d;
    font-weight: bold;
}


/* Kiểu cho hàng khi hover */
.markdown-table tr:hover {
    background-color: #f1f1f1;
}

.custom-width > div{
    max-width: none;
}

.border-custom-none > div {
    border: none;
}